.contacts__wrapper{

	padding-right: 9.6%;
	padding-left: 9%;
}

.contacts__map {
	position: relative;
	display: flex;
	justify-content: center;
	padding-bottom: 39px;
	line-height: 0;
	text-align: center;
}

.contacts__btn {
	display: flex;
	justify-content: center;
	padding-top: 15px;
	padding-bottom: 17px;
	font-family: "OpenSans",Arial,sans-serif;
	font-weight: 700;
	line-height: 16px;
	text-decoration: none;
	text-transform: uppercase;
	color: #444;
	background: #fff;
	border: 2px solid #444;
	outline: none;
	transition: color .3s ease,background .3s ease;
	align-self: center;
	width: 260px;
}