.footer {
  background: #f1f1f1;
  margin-top: 40px;
  min-width: 320px;

}

.footer__wrapper {
  margin: 0 auto;
  width: 260px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 23px;

  @media @tablet-widths {
    width: 668px;
    flex-direction: row;
    position: relative;
    flex-wrap: nowrap;
    padding-top: 20px;
    padding-bottom: 3px;
    align-items: center;
    justify-content: space-between;
  }
  @media @desktop-widths {
    width: 1050px;

  }

}

.footer__logo-container {
  display: none;

  @media @tablet-widths {
    display: block;
    width: 33%;

    &:hover{
      opacity: 1;
      fill: #63d1bb;
    }

    &:active {
      fill: #63d1bb;
      opacity: .3;
    }

  }

}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 28px;
  padding-left: 25px;
  padding-right: 25px;
  border-bottom: 1px solid #e5e5e5;
  list-style: none;

  @media @tablet-widths {
    width: 33%;
    border-bottom: 0;

  }
  @media @desktop-widths {
    display: flex;
    justify-content: center;

  }

}

.social__item {
  @media @desktop-widths {
    width: 60px;
  }

  &:hover svg{
    opacity: 1;
    fill: #63d1bb;
  }

  &:active svg{
    fill: #63d1bb;
    opacity: .3;
  }

}

.footer__copyright {
  font-size: 19px;
  font-weight: bold;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  &:hover{
    opacity: .6;
  }

  &:active {
    opacity: .3;
  }

  @media@tablet-widths {
    width: 33%;
  }
  @media @desktop-widths {
    display: flex;
    justify-content: flex-end;

  }

}

.page-footer__logo-academy {
  fill: #63d1bb;
  transition: fill .3s ease, opacity .3s ease;

  @media @desktop-widths {
    margin-left: 27px;
  }

  &:hover {
    opacity: 1;
    fill: #63d1bb;
  }

  &:active {
    fill: #63d1bb;
    opacity: .3;
  }


}
